@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./coverimage.jpg);
    background-size: cover;
    background-blend-mode: lighten;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -100;
    font-family: 'Dancing Script', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 10px 10px;
}

header{
    position: absolute;
    color: aliceblue;
    top: 0;
    height: 50px;
    max-height: 20%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: rgba(19, 180, 243, 0.199);

}

.logo{
    font-size: 30px;
}

.toggle{
    background: url(./bars-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    color: aliceblue;
    z-index: 3;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 100px;
    cursor: pointer;
}

h1{
    position: absolute;
    top: 60px;
    color: ivory;
    left: 10px;
    padding: 5px 5px;
    
}

.maincontainer{
    color: aliceblue;
    max-height: 80%;
    max-width: 100%;
    float: left;
    position: absolute;
    left: 0;
    padding: 40px 30px;
    font-size: 40px;
    font-weight: 500 bold;
    text-align: left;
    background-color: rgba(78, 141, 196, 0.158);
    align-content: center;
    transition: 0.7s ease;
    transition-delay: 0.3s;
}

.menuHolder{
    z-index: 10;
    position: absolute;
    left: -80%;
    width: 300px;
    height: 80%;
    background: rgba(11, 43, 150, 0.137);
    transition: 0.5 ease-in-out;
    transition-delay: 0.1s;
}

nav{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    padding: 20px 20px;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

nav a{
    z-index: 10;
    color: rgb(16, 221, 43);
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    color: red;
    z-index: 12;
    text-decoration: underline;
}